body{
    margin:0px;
    padding:0px;
    font-family: 'Roboto', sans-serif;
}

.nav{
    background:#3A3A3A;
    padding: 0px;
}

.header{
    display: inline-block;
    background: #4090ED;
    padding: 0px 60px;
    font-size: 20px;
    color:white;
}

.hamburger{
    display: none;
}
.toggle{
    display: none;
}

.menu{
    padding-left: 40px;
    display: inline-block;
    background: #3A3A3A;
    color:white;
}

a{
    padding: 30px;
    text-decoration: none;
    color: white;
    font-size: 24px;
    transition-property: color;
}
a:hover{
    transition-duration: 180ms;
    color: rgb(158, 158, 158);
}

.active{
    color: rgb(184, 184, 184);
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
    padding: 0px 40px;
}

.sudoku{
    border-spacing:0px;
    margin: 0px auto;
    margin-right: 0px;
    border: rgb(70, 70, 70) 6px solid;
    border-radius: 8px;
}

.row{
    display: block;
}
.row-divider{
    border-bottom: rgb(70, 70, 70) 4px solid;
}
.cell{
    padding: 0px;
    margin: 0px;
    border: rgb(70, 70, 70) 1px solid;
    background: rgb(255, 255, 255);
}
.cell-divider{
    border-right: rgb(70, 70, 70) 4px solid;
}

.cell-input{
    outline: none;
    border: none;
    font-size: 44px;
    color: rgb(70, 70, 70);
    text-align: center;
    width: 60px;
    height: 60px;
}
.cell-input:hover{
    cursor: pointer;
    background:#2643641c;
}
.cell-input:focus{
    cursor: pointer;
    background:#2643641c;
}


.right{
    padding-left: 60px;
}

button{
    border: none;
    outline:none;
    display: block;
    padding: 18px 0px;
    width: 240px;
    margin: 28px;
    background: #316eb3;
    color: white;
    font-size: 28px;
    border-radius: 12px;
    box-shadow: rgb(187, 187, 187) 0px 4px 4px;
    transition-property: background;
}
button:hover{
    transition-duration: 160ms;
    background: #357ac9;
    box-shadow: rgb(192, 192, 192) 0px 0px 0px;
}

@media only screen and (max-width: 1040px){
    .grid{
        grid-template-columns: 1fr;
        margin-top: 60px;
    }

    .sudoku{
        margin: 0px auto;
    }
    .cell-input{
        width: 50px;
        height: 50px;
    }

    .right{
        padding: 0px;
        padding-top: 28px;
        margin: auto;
    }

    button{
        border: none;
        display: inline-block;
        padding: 12px 0px;
        width: 100px;
        margin: 6px;
        font-size: 20px;
    }
}

@media only screen and (max-width: 720px){
    .cell-input{
        width: 34px;
        height: 34px;
    }

    .active{
        color: white;
    }
    .active::before{
        position: relative;
        right: 20px;
        content: "";
        width: 80px;
        height: 80px;
        border-left: solid rgba(255, 255, 255, 0.459) 2px;
        color: rgb(216, 216, 216);
    }


    .toggle{
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 2;
        cursor: pointer;
        width: 50px;
        height: 50px;
        margin: 20px;
        opacity: 0;
    }

    .menu{
        margin: auto;
        display: none;
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #3a3a3aea;
        padding: 0px;
        padding-top: 0px;
        z-index: 0;
    }
    .menu a{
        text-align: center;
        margin-top:50px;
        padding: 0px;
        display: block;
        font-size: 30px;
    }
    .menu > div{
        margin-top: 320px;
    }

    .hamburger{
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1;
        width: 50px;
        height: 50px;
        padding: 20px;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hamburger > div{
        position: relative;
        width: 100%;
        height: 2px;
        background: white;
        display: flex;
        align-items: center;
        justify-items: center;
        transition:all 400ms ease;
    }
    .hamburger > div::before,
    .hamburger > div::after{
        content: "";
        position: absolute;
        z-index: 1;
        top: -12px;
        width: 100%;
        height: 2px;
        background: inherit;
    }
    .hamburger > div::after{
        top: 12px;
    }

    .toggle:checked + .hamburger > div{
        transform: rotate(135deg);
    }
    .toggle:checked + .hamburger > div:before,
    .toggle:checked + .hamburger > div:after{
        top: 0;
        transform: rotate(90deg);
    }
    .toggle:checked ~ .menu{
        display: block;
    }
}