body{
    margin:0px;
    padding:0px;
    font-family: 'Roboto', sans-serif;
}

.nav{
    background:#3A3A3A;
    padding: 0px;
}

.header{
    display: inline-block;
    background: #4090ED;
    padding: 0px 60px;
    font-size: 20px;
    color:white;
}
.menu{
    padding-left: 40px;
    display: inline-block;
    background: #3A3A3A;
    color:white;
}
a{
    padding: 30px;
    text-decoration: none;
    color: white;
    font-size: 24px;
}
a:hover{
    transition-duration: 180ms;
    color: rgb(158, 158, 158);
}
.active{
    color: rgb(158, 158, 158);
}


.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
    padding: 0px 40px;
}

.sudoku{
    border-spacing:0px;
    margin: 0px auto;
    margin-right: 0px;
    border: rgb(70, 70, 70) 6px solid;
    border-radius: 8px;
}

.row{
    display: block;
}
.row-divider{
    border-bottom: rgb(70, 70, 70) 4px solid;
}
.cell{
    padding: 0px;
    margin: 0px;
    border: rgb(70, 70, 70) 1px solid;
    width: 60px;
    height: 60px;
    background: rgb(255, 255, 255);
}
.cell-divider{
    border-right: rgb(70, 70, 70) 4px solid;
}

.cell-input{
    outline: none;
    border: none;
    font-size: 44px;
    color: rgb(70, 70, 70);
    text-align: center;
    width: 60px;
    height: 60px;
}
.cell-input:hover{
    cursor: pointer;
    background:#2643641c;
}
.cell-input:focus{
    cursor: pointer;
    background:#2643641c;
}


.right{
    padding-left: 60px;
}

button{
    border: none;
    display: block;
    padding: 18px 0px;
    width: 240px;
    margin: 28px;
    background: #4090ED;
    color: white;
    font-size: 28px;
    border-radius: 12px;
    box-shadow: rgb(187, 187, 187) 0px 4px 4px;
    transition-property: background;
}
button:hover{
    transition-duration: 160ms;
    background: #357ac9;
    box-shadow: rgb(192, 192, 192) 0px 0px 0px;
}

@media only screen and (max-width: 1040px){
    .grid{
        grid-template-columns: 1fr;
        margin-top: 60px;
    }

    .sudoku{
        margin: 0px auto;
    }

    .cell{
        width: 40px;
        height: 40px;
    }

    .right{
        padding: 0px;
        padding-top: 30px;
        margin: auto;
    }

    button{
        border: none;
        display: inline-block;
        padding: 18px 0px;
        width: 180px;
        margin: 10px;
        background: #4090ED;
        color: white;
        font-size: 24px;
        border-radius: 12px;
        box-shadow: rgb(187, 187, 187) 0px 4px 4px;
        transition-property: background;
    }
    button:hover{
        transition-duration: 160ms;
        background: #357ac9;
        box-shadow: rgb(192, 192, 192) 0px 0px 0px;
    }
}